# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (NO SUBIR)
node_modules
server/node_modules

# Carpetas de construcción antiguas (YA NO USAMOS DIST)
dist
dist-ssr
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno (NO SUBIR TUS CLAVES)
.env
.env.local

# NOTA: NO agregues 'docs' aquí, porque esa carpeta SÍ queremos subirla.
